NEXT_PUBLIC_API_BASE_URL="https://vercel-daily-news-api.vercel.app/api"

# Created by Vercel CLI
VERCEL_OIDC_TOKEN="MY_SECRET_VERCEL_OIDC_TOKEN"

# Created by Sveta CLI :D
VERCEL_PROTECTION_BYPASS="A_VERY_SECRET_VERCEL_PROTECTION_BYPASS"